# Helm
/charts/*/charts/*.tgz
/charts/*/requirements.lock
/charts/*/Chart.lock

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~

# OSX trash
.DS_Store

# IDEs
.vscode/
.idea/
.intellij/
*.iml
