lifecycle:
  enabled: true
  jobs:
    reconciler: true
    labels:
      argocd.argoproj.io/hook: PreSync
    annotations:
      argocd.argoproj.io/hook: PreSync
  kubeconfigs:
  - name: '{{ include "pkg.cluster.name" $ }}'
    namespace: argocd
    type: argo
  - endpoint: external
    name: external-access
osm:
  enabled: false
kubernetes:
  enabled: true
  apiServer:
    service:
      type: LoadBalancer
  controlPlane:
    endpoint: 0.0.0.0
autoscaler:
  enabled: false
machine:
  enabled: false
