global: 
  components:    
    workloads:
      labels:
        components: "label"
      annotations: 
        components: "annotation"
      podLabels:
        components: "podLabels"
      podAnnotations:
        reloader.stakater.com/auto: "true"
      image:
        pullPolicy: "Always"
        pullSecrets:
          - name: "common-regcred"
      podSecurityContext:
        enabled: false
      # -- Enable Pod Security Context for all workloads
      #  enabled: true
      #  seccompProfile:
      #    type: RuntimeDefault
  
      # -- Container Security Context for all workloads (Overwrites per workload securityContext)
      securityContext:
        enabled: false
      # -- Enable Pod Security Context for all workloads
      #  enabled: true
      #  allowPrivilegeEscalation: false
      #  capabilities:
      #    drop:
      #    - ALL
      #  readOnlyRootFilesystem: true
  
      # -- Node Selector for all workloads (Overwrites all workloads nodeSelector)
      nodeSelector: 
        components: "nodeSelector"
      # -- Tolerations for all workloads (Overwrites all workloads tolerations)
      tolerations: []
      # -- Affinity for all workloads (Overwrites all workloads affinities)
      affinity: {}
      # -- Priority Class for all workloads (Overwrites all workloads priorityClassNames)
      priorityClassName: "components"
      # -- TopologySpreadConstraints for all workloads (Overwrites all workloads topologySpreadConstraints)
      topologySpreadConstraints: []

lifecycle:
  jobs:
    reconciler: true
    labels: 
      argocd.argoproj.io/hook: PreSync
    annotations:
      argocd.argoproj.io/hook: PreSync
  kubeconfigs:
  - name: '{{ include "pkg.cluster.name" $ }}'
    namespace: argocd
    type: argo
  - endpoint: external
    name: external-access
osm:
  enabled: false
kubernetes:
  enabled: true
  apiServer:
    service:
      type: LoadBalancer
  controlPlane:
    endpoint: 0.0.0.0
autoscaler:
  enabled: false
machine:
  enabled: false
