apiVersion: v2
name: crowd
description: Manage users from multiple directories - Active Directory, LDAP, OpenLDAP or Microsoft Azure AD - and control application authentication permissions in one single location
type: application
version: 0.4.0
appVersion: 4.2.3
keywords:
  - atlassian
  - crowd
  - data center
home: https://www.atlassian.com/software/crowd
icon: https://media.trustradius.com/product-logos/CP/PJ/9AQZ6ALXTFKJ-180x180.PNG
sources:
  - https://hub.docker.com/r/atlassian/crowd
maintainers:
  - name: SRE
    email: sre@bedag.ch
dependencies:
- name: manifests
  version: "~0.6.0"
  repository: "file://../manifests"
  #repository: https://bedag.github.io/helm-charts
annotations:
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/prerelease: "false"  
  artifacthub.io/changes: |
    - "[Added]: Chart Release"
  artifacthub.io/images: |
    - name: crowd
      image: atlassian/crowd:4.2.3
