## These values show how you could deploy Crowd in standalone mode
## It's assumed that you are running a postgresql in the same namespace
##
## Crowd Configuration
crowd:
  cluster:
    enabled: false
  memory:
    min: "768m"
    max: "1536m"

## Statefulset Configuration
statefulset:

  ## Image
  image:
    ## Versions https://hub.docker.com/r/atlassian/crowd/tags?page=1&ordering=last_updated
    tag: "4.2.1"

  ## Resources
  resources:
    limits:
      cpu: 1
      memory:  3Gi
    requests:
      cpu: 0.5
      memory:  1Gi

  ## Environment Variables
  environment:
    ## Tomcat Proxy Configuration
    - name: ATL_PROXY_NAME
      value: "{{ (index .Values.ingress.hosts 0).host }}"
    - name: ATL_PROXY_PORT
      value: "443"
    - name: ATL_TOMCAT_SCHEME
      value: "https"
    - name: ATL_TOMCAT_SECURE
      value: "true"

## Ingress Configuration
ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/affinity:  cookie
    nginx.ingress.kubernetes.io/session-cookie-max-age: "10800" #3h
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  hosts:
    - host: crowd.cluster.ingress
      paths:
        - "/"
  tls:
    - hosts:
        - crowd.cluster.ingress
