{{/*
  Always Create Manifests Secret.
  This way the in cluster resources can be removed if a component is disabled
*/}}
{{- if (include "gitops.enabled" $) -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gitops.manifests.name" $ }}
  labels:
    {{- include "gitops.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
stringData:
  {{ range $path, $_ :=  .Files.Glob (include "gitops.manifests" $) }}
    {{- with $ -}}
      {{- $content := (tpl (.Files.Get $path) .) -}}
      {{- if ($content | nospace) }}
        {{- base $path | nindent 4 }}: | {{- $content | nindent 6 }}
      {{- end }}
    {{- end -}}
  {{- end }}
{{- end -}}
