

## Reference: https://github.com/helm/chart-releaser-action
name: Helm Chart Release
on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write  # for helm/chart-releaser-action to push chart release and create a release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: v3.18.4 # Also update in lint-and-test.yml

      - name: Add dependency chart repos
        run: |
          helm repo add buttahtoast https://buttahtoast.github.io/helm-charts/
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
